<div style="display: flex; flex-direction: row;">
    <angular-monorepo-toolbar></angular-monorepo-toolbar>
    <div style="display: flex; flex-direction: column;">
        <angular-monorepo-header></angular-monorepo-header>
        <router-outlet></router-outlet>
        <angular-monorepo-footer></angular-monorepo-footer>
    </div>

</div>