<mat-toolbar style="background-color: #1E88E5; color: white; height: 100vh; width: 150px;">
    <div style="display: flex; flex-direction: column; align-self: flex-start;">
        <h1 style="font-style: italic; margin-bottom: 10px; margin-top: 15px;">Menu</h1>
        <div style="margin-top: 20px;">
            <a href="/dashboard" style="color: white; text-decoration: none;">Dashboard</a>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top: 10px;">
            <a href="/chart" style="color: white; text-decoration: none;">Chart</a>
        </div>
        <mat-divider></mat-divider>
    </div>
</mat-toolbar>