<div class="mainContainer">
    <h2 style="text-align: center; margin: 2rem;">Add Post Data</h2>

    <form [formGroup]="addDataForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
            <mat-label>Input title</mat-label>
            <input matInput formControlName="title" type="text" placeholder="Title">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Input body</mat-label>
            <input matInput formControlName="body" type="text" placeholder="Body">
        </mat-form-field>

        <div>
            <button mat-flat-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</div>