<div class="mat-elevation-z8" style="width: 90vw;">
  <button mat-raised-button color="primary" style="margin-top: 5px; margin-left: 5px;" (click)="callbackBtn({status: 'new', element: 'null'})">Add Data</button>
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
            <button
                style="background-color: #F4A62A; color: white; border: none; border-radius: 3px; padding: 2px 5px;" (click)="callbackBtn({status: 'edit', element: row})">Edit</button>
            <button
                style="background-color: #FA3F19; color: white; border: none; border-radius: 3px; margin-left: 10px; padding: 2px 5px;" (click)="callbackBtn({status: 'delete', element: row})">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>